<div class="content-header">
  <button class = "back-button" routerLink="/doner-joker" routerLinkActive="active">< NAZAD</button>
</div>
<div class="content">
  <img src="../assets/Slike/pice_doner.jpg" alt="" height="40%" width="100%">
  <h2>PONUDA PIĆA</h2>
  <div class="meni">
    <div class="nazivi">
      <div class="art-1">
        <p class="ime_artikla">GAZIRANI SOKOVI</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">NEGAZIRANI SOKOVI</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">VODA</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">JOGURT</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">KEFIR</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">AYRAN</p>
      </div>
    </div>
    <div class="cijene">
      <div class="cij">
        <p class="cijena_artikla">2,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">1,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">1,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">1,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">1,50 KM</p>
      </div>
    </div>
  </div>
</div>

