<div class="content-header">
  <button class = "back-button" routerLink="/kafana-jedno-mjesto" routerLinkActive="active">< NAZAD</button>
</div>
<div class="content">
  <img src="../assets/Slike/Meniji/energetski_napici.jpg" alt="" height="40%" width="100%">
  <h2>ENERGETSKI NAPICI</h2>
  <div class="meni">
    <div class="nazivi">
      <div class="art-1">
        <p class="ime_artikla">Rooster 0,25</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Red Bull 0,25</p>
      </div>
    </div>
    <div class="cijene">
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">5,00 KM</p>
      </div>
    </div>
  </div>
</div>
