<div class="content-header">
  <button class = "back-button" routerLink="/doner-joker" routerLinkActive="active">< NAZAD</button>
</div>
<div class="content">
  <img src="../assets/Slike/Meniji/specijalna_ponuda.png" alt="" height="40%" width="100%">
  <h2>SPECIJALNA PONUDA</h2>
  <div class="meni">
    <div class="nazivi">
      <div class="art-1">
        <p class="ime_artikla">Doner, Pomfrit i Coca Cola</p>
      </div>
    </div>
    <div class="cijene">
      <div class="cij">
        <p class="cijena_artikla">8,50 KM</p>
      </div>
    </div>
  </div>
</div>
