<div class="content-header">
  <button class = "back-button" routerLink="/pocetna-pjk" routerLinkActive="active">< NAZAD</button>
</div>
<div class="content">
  <img src="../assets/Slike/planb.png" alt="" height="30%" width="100%">
    <div class="izbornik">
      <button class="specijalna" routerLink="/plan-b/specijalna-ponuda" routerLinkActive="active">SPECIJALNA PONUDA FLAŠA I BRODOVA</button>
      <button routerLink="/plan-b/topli-napici" routerLinkActive="active">TOPLI NAPICI</button>
      <button routerLink="/plan-b/prirodni-sokovi" routerLinkActive="active">NEGAZIRANI NAPICI</button>
      <button routerLink="/plan-b/gazirani-napici" routerLinkActive="active">GAZIRANI NAPICI</button>
      <button routerLink="/plan-b/energetski-napici" routerLinkActive="active">ENERGETSKI NAPICI</button>
      <button routerLink="/plan-b/pivo" routerLinkActive="active">PIVO</button>
      <button routerLink="/plan-b/alkoholna-pica" routerLinkActive="active">ALKOHOLNA PIĆA</button>
      <button routerLink="/plan-b/nargila" routerLinkActive="active">NARGILA</button>
      <button routerLink="/plan-b/vino" routerLinkActive="active">VINO</button>
      <button class="vino" routerLink="/plan-b/vino-toceno" routerLinkActive="active">VINO TOČENO</button>
    </div>
</div>
