<div class="content-header">
  <button class = "back-button" routerLink="/pocetna-pjk" routerLinkActive="active">< NAZAD</button>
</div>
<div class="content">
    <img src="../assets/Slike/doner_logo.png" alt="" height="30%" width="100%">
    <div class="izbornik">
      <button class="specijalna" routerLink="/doner-joker/specijalna-ponuda-doner" routerLinkActive="active">SPECIJALNA PONUDA</button>
      <button routerLink="/doner-joker/hrana" routerLinkActive="active">HRANA</button>
      <button class ="pice" routerLink="/doner-joker/pice" routerLinkActive="active">PIĆE</button>
    </div>
  <div class="narudzba">
    <h2>PORUČI</h2>
    <h2>+387 62/919-119</h2>
  </div>
</div>
