<div class="content-header">
  <button class = "back-button" routerLink="/pocetna-pjk" routerLinkActive="active">< NAZAD</button>
</div>
<div class="content">
  <img src="../assets/Slike/kafana_logo.png" alt="" height="20%" width="100%">
  <div class="izbornik">
    <button class="specijalna" routerLink="/kafana-jedno-mjesto/specijalna-ponuda-kafana" routerLinkActive="active">HLADNA PLATA</button>
    <button routerLink="/kafana-jedno-mjesto/topli-napici-kafana" routerLinkActive="active">TOPLI NAPICI</button>
    <button routerLink="/kafana-jedno-mjesto/prirodni-sokovi-kafana" routerLinkActive="active">NEGAZIRANI NAPICI</button>
    <button routerLink="/kafana-jedno-mjesto/gazirani-napici-kafana" routerLinkActive="active">GAZIRANI NAPICI</button>
    <button routerLink="/kafana-jedno-mjesto/energetski-napici-kafana" routerLinkActive="active">ENERGETSKI NAPICI</button>
    <button routerLink="/kafana-jedno-mjesto/pivo-kafana" routerLinkActive="active">PIVO</button>
    <button routerLink="/kafana-jedno-mjesto/alkoholna-pica-kafana" routerLinkActive="active">ALKOHOLNA PIĆA</button>
    <button routerLink="/kafana-jedno-mjesto/nargila" routerLinkActive="active">NARGILA</button>
    <button routerLink="/kafana-jedno-mjesto/vino-kafana" routerLinkActive="active">VINO</button>
    <button class="vino" routerLink="/kafana-jedno-mjesto/vino-toceno-kafana" routerLinkActive="active">VINO TOČENO</button>
  </div>
</div>
