<div class="content-header">
  <button class = "back-button" routerLink="/plan-b" routerLinkActive="active">< NAZAD</button>
</div>
<div class="content">
  <img src="../assets/Slike/Meniji/gazirani_napici.png" alt="" height="40%" width="100%">
  <h2>GAZIRANI NAPICI</h2>
  <div class="meni">
    <div class="nazivi">
      <div class="art-1">
        <p class="ime_artikla">Cockta 0,25</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Sarajevski kiseljak 0,25</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Sensation 0,25</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Orangina 0,25</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Coca Cola 0,25</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Fanta 0,25</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Sprite 0,25</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Tangerina 0,25</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Bitter lemon 0,25</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Tonic 0,25</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Exotic</p>
      </div>
    </div>
    <div class="cijene">
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">1,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,00 KM</p>
      </div>
    </div>
  </div>
</div>
