<div class="content-header">
  <button class = "back-button" routerLink="/plan-b" routerLinkActive="active">< NAZAD</button>
</div>
<div class="content">
  <img src="../assets/Slike/Meniji/topli_napici.png" alt="" height="40%" width="100%">
  <h2>TOPLI NAPICI</h2>
  <div class="meni">
    <div class="nazivi">
      <div class="art-1">
        <p class="ime_artikla">Kafa espresso</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Nesscafe clasic</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Nesscafe 3in1</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Topla čokolada</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Cappuccino</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Čaj</p>
      </div>
    </div>
    <div class="cijene">
      <div class="cij">
        <p class="cijena_artikla">1,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">1,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">1,00 KM</p>
      </div>
    </div>
  </div>
</div>
