<div class="content-header">
  <button class = "back-button" routerLink="/kafana-jedno-mjesto" routerLinkActive="active">< NAZAD</button>
</div>
<div class="content">
  <img src="../assets/Slike/Meniji/vino_toceno.png" alt="" height="40%" width="100%">
  <h2>VINO TOČENO</h2>
  <div class="meni">
    <div class="nazivi">
      <div class="art-1">
        <p class="ime_artikla">Graševina Kutjevo 0,10</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Vranac 0,10</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Gemišt 0,20</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Bambus 0,20</p>
      </div>

    </div>
    <div class="cijene">
      <div class="cij">
        <p class="cijena_artikla">2,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">3,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">3,00 KM</p>
      </div>
    </div>
  </div>
</div>
