<div class="content-header">
  <button class = "back-button" routerLink="/kafana-jedno-mjesto" routerLinkActive="active">< NAZAD</button>
</div>
<div class="content">
  <img src="../assets/Slike/Meniji/prirodni_sokovi.png" alt="" height="40%" width="100%">
  <h2>NEGAZIRANI NAPICI</h2>
  <div class="meni">
    <div class="nazivi">
      <div class="art-1">
        <p class="ime_artikla">Jabuka 0,20</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Jagoda 0,20</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Višnja 0,20</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Ananas 0,20</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Breskva Juicy 0,20</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Ribizla Juicy 0,20</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Ledeni čaj 0,20</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Cappy Juicy 0,20</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Jana vitamin</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Cedevita</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Voda</p>
      </div>

    </div>
    <div class="cijene">
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">2,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">1,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">1,00 KM</p>
      </div>
    </div>
  </div>
</div>
