<div class="content-header">
  <button class = "back-button" routerLink="/plan-b" routerLinkActive="active">< NAZAD</button>
</div>
<div class="content">
  <img src="../assets/Slike/Meniji/specijalna_ponuda_planb.png" alt="" height="40%" width="100%">
  <h2>SPECIJALNA PONUDA</h2>
  <div class="meni">
    <div class="nazivi">
      <div class="art-1">
        <p class="ime_artikla">Crno vino + 4 Coca Cole</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Graševina 0,7 + 4 Sarajevska kiseljaka</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Vigor Vodka + 4 Energyja </p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Jagermeister + 4 Coca Cole</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Belvedere Vodka + 4 Red Bulla</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Belvedere Vodka</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Grey Goose Vodka + 4 Red Bulla</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Jack Daniel's + 4 Red Bulla</p>
      </div>
      <div class="art-1">
        <p class="ime_artiklaa">Moet</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Stock + 4 Coca Cole</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Gin + 4 Tonica</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Višnjevača</p>
      </div>
    </div>
    <div class="cijene">
      <div class="cij">
        <p class="cijena_artikla">30,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">31,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">60,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">70,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">140,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">120,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">150,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">140,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">200,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">80,00 KM</p>
      </div>
      <div class="cij">
      <p class="cijena_artikla">45,00 KM</p>
    </div>
      <div class="cij">
      <p class="cijena_artikla">50,00 KM</p>
    </div>


    </div>
  </div>
</div>
