<div class="content">
  <h1>ONLINE CJENOVNIK</h1>
  <div class="izbornik">
    <button routerLink="/plan-b" routerLinkActive="active">Caffe Bar "Plan B"</button>
    <button routerLink="/doner-joker" routerLinkActive="active">Doner House "Joker"</button>
    <button routerLink="/kafana-jedno-mjesto" routerLinkActive="active">Kafana "Jedno mjesto"</button>
  </div>
  <div class="instagram">
    <p class="rezervacija">REZERVACIJE NA PROFILIMA</p>
    <a href="https://www.instagram.com/caffe_planb/"><img src="../assets/Slike/instagram-icon.png" alt="" height="16px" width="16px">caffe_planb</a>
    <a href="https://www.instagram.com/donerhousejoker_/"><img src="../assets/Slike/instagram-icon.png" alt="" height="16px" width="16px">donerhousejoker_</a>
    <a href="https://www.instagram.com/kafana__jedno__mjesto/"><img src="../assets/Slike/instagram-icon.png" alt="" height="16px" width="16px">kafana__jedno__mjesto</a>
  </div>
  <div class="poruka">
    <p class="zakon">U skladu sa članom 39.Zakona o porezu na promet proizvida i usluga.Sl List br.5/95 i 9/95
      i Zakona o PDV-u , za svaki prodati proizvod prodavač je dužan da vam ispostavi račun.Vaša obaveza je da u skladu sa istim članom zakona primite račun i čuvate do izlaska iz objekta kako bi isti na zahtjev ovlaštenog lica mogli da pokažete.</p>
  </div>
</div>
