<div class="content-header">
  <button class = "back-button" routerLink="/plan-b" routerLinkActive="active">< NAZAD</button>
</div>
<div class="content">
  <img src="../assets/Slike/Meniji/vino.png" alt="" height="40%" width="100%">
  <h2>VINO</h2>
  <div class="meni">
    <div class="nazivi">
      <div class="art-1">
        <p class="ime_artikla">Graševina Kutjevo 1,00</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Vranac 1,00</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Graševina Kutjevo 0,70</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Graševina 0,20</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">Vranac 0,20</p>
      </div>

    </div>
    <div class="cijene">
      <div class="cij">
        <p class="cijena_artikla">25,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">20,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">30,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">5,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">5,00 KM</p>
      </div>
    </div>
  </div>
</div>
