<div class="content-header">
  <button class = "back-button" routerLink="/kafana-jedno-mjesto" routerLinkActive="active">< NAZAD</button>
</div>
<div class="content">
  <img src="../assets/Slike/Meniji/nargila.jpg" alt="" height="40%" width="100%">
  <h2>NARGILA</h2>
  <div class="meni">
    <div class="nazivi">
      <div class="art-1">
        <p class="ime_artikla">Nargila</p>
      </div>
    </div>
    <div class="cijene">
      <div class="cij">
        <p class="cijena_artikla">6,00 KM</p>
      </div>
    </div>
  </div>
</div>
