<div class="content-header">
  <button class = "back-button" routerLink="/doner-joker" routerLinkActive="active">< NAZAD</button>
</div>
<div class="content">
  <img src="../assets/Slike/hrana_slika.png" alt="" height="40%" width="100%">
  <h2>PONUDA HRANE</h2>
  <div class="meni">
    <div class="nazivi">
      <div class="art-1">
        <p class="ime_artikla">DONER PILEĆI</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">DONER JUNEĆI</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">DONER BOX</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">DONER TANJIR</p>
      </div>
      <div class="art-1">
        <p class="ime_artikla">POMFRIT</p>
      </div>
    </div>
    <div class="cijene">
      <div class="cij">
        <p class="cijena_artikla">5,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">5,00 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">6,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">6,50 KM</p>
      </div>
      <div class="cij">
        <p class="cijena_artikla">1,50 KM</p>
      </div>
    </div>
  </div>
  <div class="prilozi">
    <p class="prilozi_text">PRILOZI</p>
    <p calss="prilozi_text">salata, kupus, krastavica, kukuruz, paradajz, bijeli sos, ljuti sos, curry sos, čili...</p>
  </div>
</div>

